<a href="https://colab.research.google.com/github/krio5076/Python-Basic/blob/main/10_basic_python_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**
* If a group of statements is repeatedly required then it is not recommended to write these statements everytime seperately.We have to define these statements as a single unit and we can call that unit any number of times based on our requirement without rewriting. This unit is nothing but function.

* The main advantage of functions is code Reusability.

* Python supports two types of functions:

   1. Built-in function

   2. User defined function

   3. Built in Functions:


1. Built-in function

The functions which are coming along with Python software automatically, are called built in functions or pre defined functions.

e.g. id(), type(), input(),eval()

2.  User defined function:

The functions which are developed by programmer explicitly according to business requirements, are called user defined functions.

Syntax:

def function_name(parameters):

''' doc string'''

python code

return value

In [ ]:
s= "python"
len(s)

6

In [ ]:
def wish():
  print("hello good morning")
wish()

hello good morning

# **Parameters**
Parameters are inputs to the function. If a function contains parameters, then at the time of calling,compulsory we should provide values otherwise, we will get error.

Eg: Write a function to take name of the student as input and print wish message by name

In [ ]:
def wish(name):
  print("hello",name,"good morning")

In [ ]:
wish("shriniwas")

hello shriniwas good morning

In [ ]:
#eg  : write a function to take number as input and print it square value
def squareIt(number):
  print(number*number)

In [ ]:
squareIt(5)

25

In [ ]:
squareIt(7)

49

# Return Statement:
Function can take input values as parameters and executes business logic, and returns output to the caller with return statement.

Q) Write a Function to accept 2 Numbers as Input and return Sum

In [ ]:
def add(x,y):
  return x+y

In [ ]:
add(6,7)

13

In [ ]:
add(5,2)

7

In [ ]:
""" Q) write a function to check whether the given number is
Even or odd?"""
def even_odd(num):
  if num%2==0:
    print(num,"i even number")
  else:
    print(num," is odd number")

In [ ]:
even_odd(5)

5  is odd number

In [ ]:
" Q) write a function to find factorial of given number"
def fact(num):
  result=1
  while num >= 1:
    result = result*num
    num=num-1
    return result

In [ ]:
for i in range(1,5):
   print("the factorial of ",i,"is:",fact(i))

the factorial of  1 is: 1
the factorial of  2 is: 2
the factorial of  3 is: 3
the factorial of  4 is: 4

## Returning Multiple Values from a Function:

In [ ]:
def sum_sub(a,b):
    sum=a+b
    sub=a-b
    return sum,sub

In [ ]:
x,y=sum_sub(100,50) 
print("the sum is:",x)
print("the subtraction is:",y)

the sum is: 150
the subtraction is: 50

## Types of Arguments
def f1(a,b):

-

-

f1(10,20)

a, b are formal arguments where as 10,20 are actual arguments.

There are 4 types are actual arguments are allowed in Python.

 1. Positional Arguments
 2. Keyword Arguments
 3. Default Arguments
 4. Variable length arguments

1. Positional Arguments
These are the arguments passed to function in correct positional order.

def sub(a, b):

print(a-b)

sub(100, 200)

sub(200, 100)

The number of arguments and position of arguments must be matched. If we change the order then result may be changed.

## 2. Keyword Arguments:
We can pass argument values by keyword i.e by parameter name.

In [ ]:
def wish(name,msg):
  print("hello",name,msg)

In [ ]:
wish(name="yogesh",msg="good mornindg")

hello yogesh good mornindg

In [ ]:
# position changed till working
wish(msg="good morning",name="akah")

hello akah good morning

## 3. Default Arguments:
Sometimes we can provide default values for our positional arguments

In [ ]:
def wish(name="guest"):
  print("hello",name,"good morning")

In [ ]:
wish("satish")

hello satish good morning

In [ ]:
wish()

hello guest good morning

## 4. Variable Length Arguments:
Sometimes we can pass variable number of arguments to our function, such type of arguments are called variable length arguments.

We can declare a variable length argument with * symbol as follows

def f1(*n):

We can call this function by passing any number of arguments including zero number.

Internally all these values represented in the form of tuple.

In [ ]:
def sum(*n):
  total=0
  for n1 in n:
    total=total+n1
  print("the sum=",total)

In [ ]:
sum()

the sum= 0

In [ ]:
sum(10)

the sum= 10

In [ ]:
sum(10,20)

the sum= 30

In [ ]:
sum(10,20,30,40)

the sum= 100

In [ ]:
# we can mix variable length arguments with positional arguments.
def f1(n1,*s):
  print(n1)
  for s1 in s:
    print(s1)

In [ ]:
f1(10)

10

In [ ]:
f1(10,20,30,40)

10
20
30
40

In [ ]:
f1(10,"a",20,"b")

10
a
20
b

Note: After variable length argument,if we are taking any other arguments then we should provide values as keyword arguments.

In [ ]:
def f1(*s,n1):
  for s1 in s:
    print(s1)
  print(n1)

In [ ]:
f1("a","b",n1=10)

a
b
10

### Note: We can declare key word variable length arguments also.
We can call this function by passing any number of keyword arguments. Internally these keyword arguments will be stored inside a dictionary

In [ ]:
def display(**kwargs):
  for k,v in kwargs.items():
      print(k,"=",v)

In [ ]:
display(n1=10,n2=20,n3=30)

n1 = 10
n2 = 20
n3 = 30

In [ ]:
display(rno=100,name="vinayak",marks=70,subject="java")

rno = 100
name = vinayak
marks = 70
subject = java

### Note: Function vs Module vs Library
A group of lines with some name is called a function

A group of functions saved to a file, is called Module

A group of Modules is nothing but Library

## Types of Variables
Python supports 2 types of variables.

 1.Global Variables
 
 2.Local Variable

In [ ]:
a=10 #global variable(defined outside the function)
def f1():
  print(a)

In [ ]:
def f2():
  print(a)

In [ ]:
f1()
f2()

10
10

Local Variables:

The variables which are declared inside a function are called local variables.

Local variables are available only for the function in which we declared i

In [ ]:
def f1():
  a=10
  print(a)

In [ ]:
f1()

10

In [ ]:
def f22():
  print(b)

In [ ]:
f22()

NameError: ignored

In [ ]:
a= 10 #global variable
def f1():
  a=777 #local variable
  print(a)
  print(globals()['a'])

In [ ]:
f1()

777
10

## **Recursive Function:**
A function that calls itself is known as Recursive Function.

Main advantages of recursive functions are:

 1. We can reduce length of the code and improves readability.
 2. We can solve complex problems very easily.
E.g.

factorial(3) = 3 * factorial(2)

= 3 * 2 * factorial(1)

=321*factorial(0)

=321*1

=6
factorial(n) = n * factorial(n-1)

In [ ]:
''' write a python function to find factorial of given number with recursion'''
def factorial(n):
  if n==0:
    result=1
  else:
    result=n*factorial(n-1)
  return result
print("Factorial of 4 is:",factorial(4))
print("Factorial of 5 is:",factorial(5))

Factorial of 4 is: 24
Factorial of 5 is: 120

## Anonymous Functions:(Lambda Function)
Sometimes we can declare a function without any name,such type of nameless functions are called anonymous functions or lambda functions.

The main purpose of anonymous function is just for instant use(i.e for one time usage)

We can define by using lambda keyword

lambda n:n*n

SyntaxoflambdaFunction:lambda argument_list:expression

Note: By using Lambda Functions we can write very concise code so that readability of the program will be improved

In [1]:
'''Q) write a program to create a lambda function to find quare of given number?'''
s= lambda n:n*n
s(5)# sqr of 5

25

In [2]:
s(10)

100

In [4]:
for i in range(9,15):
 print("sqr of ",i,"is",s(i))

sqr of  9 is 81
sqr of  10 is 100
sqr of  11 is 121
sqr of  12 is 144
sqr of  13 is 169
sqr of  14 is 196

In [5]:
print("sqre of 15 is:",s(15))

sqre of 15 is: 225

In [6]:
''' Q) lambda function to find sum of 2 given numbers'''
a= lambda p,q:p+q

In [7]:
a(15,16)

31

In [8]:
print("the addition of 456 and 126 is:",a(456,126))

the addition of 456 and 126 is: 582

In [13]:
# create lambda function for cube
cube =lambda c:c**3

In [14]:
cube(9)

729

In [15]:
cube(17)

4913

In [16]:
# lambda function for division
div =lambda d,i:d/i

In [17]:
div(16,2)

8.0

In [18]:
int(div(16,2))

8

In [10]:
'''Q) lambda function to find biggest of given values'''
a= lambda a,b,c :a if a>b and a>c else b if b>c else c

In [11]:
a(15,14,13)

15

In [12]:
print("the bigget nummber of 45,48,68 is:",a(45,48,68))

the bigget nummber of 45,48,68 is: 68

Note: Lambda Function internally returns expression value and we are not required to write return statement explicitly.

We can use lambda functions very commonly with filter(), map() and reduce() functions, because these functions expect function as argument

# **filter() Function:**
We can use filter() function to filter values from the given sequence based on some condition.

**syntax: filter(function,sequence)**

Where Function Argument is responsible to perform conditional check Sequence can be List OR Tuple OR String

In [19]:
# without lambda function
def even(n):
  if n%2==0:
    return True
  else:
    return False

In [20]:
l=[10,15,41,2,16,86,19]
l1= list(filter(even,l))
print(l1)

[10, 2, 16, 86]

In [22]:
# with lambda function
l=[12,14,34,54,65,75,97]
x= list(filter(lambda x:x%2==0,l))
print(x)

[12, 14, 34, 54]

In [23]:
x= list(filter(lambda x:x%2!=0,l))
print(x)

[65, 75, 97]

In [26]:
l= list(eval(input("enter lis:")))
print(l)

enter lis:1,2,3,4
[1, 2, 3, 4]

# **map() Function:**
For every element present in the given sequence,apply some functionality and generate new element with the required modification. For this requirement we should go for map() function.

Eg: For every element present in the list perform double and generate new list of doubles.

**Syntax: map(function, sequence)**

The function can be applied on each element of sequence and generates new sequence.

In [28]:
lst= [10,12,15,46,15,17,19,13]
def odd(x):
  if x%2==0:
    return False
  else:
    return True

In [30]:
list1= map(odd,lst)
print(list(list1))

[False, False, True, False, True, True, True, True]

In [32]:
list2= filter(odd,lst)
list(list2)

[15, 15, 17, 19, 13]

In [35]:
# without lambda
l=[1,2,3,4,5,6]
def doubleit(x):
  return 2*x
l1=list(map(doubleit,l))
print(l1)

[2, 4, 6, 8, 10, 12]

# **reduce() Function:**
reduce() function reduces sequence of elements into a single element by applying the specified function.

**syntax: reduce(function,sequence)**

reduce() function present in functools module and hence we should write import statement

In [36]:
from functools import*
l=[10,20,30,40,50]
result=reduce(lambda x,y:x+y,l)
print(result)

150

In [37]:
result=reduce(lambda x,y:x*y,l)
print(result)

12000000

## **Function Aliasing:**
For the existing function we can give another name, which is nothing but function aliasing.

In [39]:
def wish(name):
  print("good morning",name)
greeting=wish
print(id(wish))
print(id(greeting))
greeting('akash')
wish('akash')

139989678149504
139989678149504
good morning akash
good morning akash

'In the above example only one function is available \nbut we can call that function by using either wish name or greeting name.'