<a href="https://colab.research.google.com/github/Rohan5076/Python-Basic/blob/main/8_baic_python_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SET - Data Structure

1. If we want to represent a group of unique values as a single entity then we should go
for set.
2. Duplicates are not allowed.
3. Insertion order is not preserved.But we can sort the elements.
4. Indexing and slicing not allowed for the set.
5. Heterogeneous elements are allowed.
6. Set objects are mutable i.e once we creates set object we can perform any changes in
that object based on our requirement.
7. We can represent set elements within curly braces and with comma seperation
8. We can apply mathematical operations like union, intersection, difference etc on set
objects.

In [ ]:
s={10,20,30,40}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [ ]:
#we can create set object by using set() function s= set(any equence)
l=[10,20,30,40,10,20,10]
s=set(l)
print(s) #{40, 10, 20, 30}

{40, 10, 20, 30}

In [ ]:
s=set(range(5))
print(s)  #{0, 1, 2, 3, 4}

{0, 1, 2, 3, 4}

## Important Functions of Set:

In [ ]:
# 1) add(x): add item x to the set
s={10,20,30}
s.add(40);
print(s)  #{40, 10, 20, 30}

{40, 10, 20, 30}

In [ ]:
#  2)  update(x,y,z): add multiple items to the set
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

Q) What is the difference between add() and update() Functions in Set?

We can use add() to add individual item to the Set,where as we can use update() function to add multiple items to Set.

add() function can take only one argument where as update() function can take any number of arguments

In [ ]:
# 3) copy(): returns copy of the set (cloning)
s={10,20,30}
s1=s.copy()
print(s1)

{10, 20, 30}

In [ ]:
#  4) pop(): it removes and returns some random element from the set
s={40,10,30,20}
print(s)
print(s.pop())
print(s)

{40, 10, 20, 30}
40
{10, 20, 30}

In [ ]:
#  5) remove(x): removes specified item from the set
s={40,10,30,20}
s.remove(30)
print(s)

{40, 10, 20}

In [ ]:
# 6) discard(): it removes specified element from the space
#if specifed error not present in the set then it will not throw error
s={40,10,30,20}
s.discard(30)
print(s)

{40, 10, 20}

In [ ]:
#7) clear(): to remove all the elements from the set
s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

# **IMPORTANT CONCEPTS**
## Mathematical Operations on the Set:

In [ ]:
#1. union(): 
# Syntax: x.union(y) OR x|y: Return all the elements present in both sets
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [ ]:
#2. intersection(): 
# Syntax: x.intersection(y) OR x&y:
#Return common  elements present in both sets
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

In [ ]:
#2. difference(): 
# Syntax: x.difference(y) OR x-y:
#Returns  elements present in x but not in y.
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y)

{10, 20}
{10, 20}

In [ ]:
#4) symmetric_difference():
#x.symmetric_difference(y) OR x^y
#returns elements present in either x or in y but nor in both
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

## Membership Operators: (in, not in)

In [ ]:
s=set("python")
print(s)
print('d'in s)
print('p'in s)

{'o', 'n', 'y', 'h', 'p', 't'}
False
True

## Set Comprehension:

In [ ]:
#set comprehension is possible.
s={x*x for x in range(5)}
print(s)

{0, 1, 4, 9, 16}

## Set Objects won't support indexing and slicing:

In [ ]:
s={10,20,30,40}
print(s[0])
print(s[1:3])

TypeError: ignored

# Homework
Q) Write a Program to eliminate Duplicates Present in the List?

Q) Write a Program to Print different Vowels Present in the given Word?(Using intersection method

In [ ]:
#Q) Write a Program to eliminate Duplicates Present in the List?
l1=[10,30,20,41,50]
l2=[]
for x in l1:
     if x not in l2:
      l2.append(x)
print(l2)

[10, 30, 20, 41, 50]

In [ ]:
x="data scientist"      #for vowels
y=['a','i','e','o','u']
for i in x:
  if i in y:
    print(i,end='\t')

a	a	i	e	i

In [ ]:
x="data scientist"        #foe without vowels
y=['a','i','e','o','u']
for i in x:
  if i in y:
    continue
  print(i,end='\t')

d	t	 	s	c	n	t	s	t

# **UTF - 8**
UTF-8 is one of the most commonly used encodings, and Python often defaults to using it. UTF stands for “Unicode Transformation Format”, and the ‘8’ means that 8-bit values are used in the encoding.

**UTF-8 uses the following rules:**

* If the code point is < 128, it’s represented by the corresponding byte value.

* If the code point is >= 128, it’s turned into a sequence of two, three, or four bytes, where each byte of the sequence is between 128 and 255.

**UTF-8 has several convenient properties:**

* It can handle any Unicode code point.

* A Unicode string is turned into a sequence of bytes that contains embedded zero bytes only where they represent the null character (U+0000). This means that UTF-8 strings can be processed by C functions such as strcpy() and sent through protocols that can’t handle zero bytes for anything other than end-of-string markers.

* A string of ASCII text is also valid UTF-8 text.

* UTF-8 is fairly compact; the majority of commonly used characters can be represented with one or two bytes.

* If bytes are corrupted or lost, it’s possible to determine the start of the next UTF-8-encoded code point and resynchronize. It’s also unlikely that random 8-bit data will look like valid UTF-8.

* UTF-8 is a byte oriented encoding. The encoding specifies that each character is represented by a specific sequence of one or more bytes.This avoids the byte-ordering issues that can occur with integer and word oriented encodings, like UTF-16 and UTF-32, where the sequence of bytes varies depending on the hardware on which the string was encoded.